{% extends "base.html" %}

{% block head_title %}Ministry of Finance of Guinea{% endblock %}

{% block content %}

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1>Welcome to the Ministry of finance Courier Site</h1>
      <p>The Guinean Ministry of finance Courier Site is a simple Courier App that helps you organize and track documents at your ministry. </br> You can track files, periodic tasks and more! </br> If you want to learn how it was created, or create it yourself!, check </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Task to track</h2>
          <p>Track your tasks. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Task to track</h2>
          <p>Track your tasks. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Task to track</h2>
          <p>Track your tasks. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      
      <hr>
    </div> <!-- /container -->

{% endblock %}